Dear {{.User}},

Welcome to {{.Host}}! You have been invited to join a workspace on our platform. To complete your registration, please click on the link below to log in to your account and accept the invitation:

{{.Content}}

The invitation will expire in 24 hours. If you did not create an account on {{.Host}}, please disregard this message.

Thank you for joining {{.Host}}!

Best regards,

{{.Footer}}
